.article .adm-nav-bar {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
}
.article .adm-nav-bar .adm-nav-bar-back-arrow {
  color: #fff;
}
.article .container {
  padding-top: 50px;
  background-color: #fff;
  min-height: 100vh;
}
.article .container .title {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
}
.article .container .description {
  color: #666;
  font-size: 14px;
  margin: 10px;
  line-height: 1.2;
}
.article .container .time-tag {
  text-align: right;
}
.article .container .time-tag .tag {
  color: #666;
  font-size: 12px;
  padding-right: 10px;
}
.article .container .content {
  padding-top: 10px;
  font-size: 15px;
  margin: 10px;
  border-top: 1px solid #999;
}
.article .container .update-time {
  text-align: right;
  color: #666;
  font-size: 15px;
  margin: 20px 10px;
}
.article .container .update {
  text-align: right;
  margin: 10px;
  font-size: 15px;
}
.article .container .update i {
  color: #339999;
}
